<title><%= typeof title != 'undefined' ? title : 'Cannatest' %></title>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<meta charset="utf-8"/>

<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="default"/>
<meta name="mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-status-bar-style" content="default"/>
<meta name="google" value="notranslate" content="notranslate"/>

<link rel="shortcut icon" size="16x16" href="/favicon.ico"/>
<link rel="shortcut icon" sizes="196x196" href="/favicon.ico"/>
<link rel="shortcut icon" sizes="128x128" href="/favicon.ico"/>
<link rel="apple-touch-icon" sizes="128x128" href="/favicon.ico"/>
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="/favicon.ico"/>

<link rel="stylesheet" href="/styles/webfonts/ss-standard.css?<%- new Date().getTime() %>"  />
<link rel="stylesheet" href="/styles/chosen.css?<%- new Date().getTime() %>" />
<link rel="stylesheet" href="/styles/smallipop.css?<%- new Date().getTime() %>" />
<link rel="stylesheet" href="/styles/compiled/cannabidata.css?<%- new Date().getTime() %>" />

<!--[if lte IE 8]><script src="/js/selectivizr-min.js"></script><![endif]-->
<script src="/js/jquery.js"></script>
<script src="/js/jquery/jquery.chosen.js"></script>
<script src="/js/jquery/jquery.globalize.js"></script>
