<% if(req.query.r){ %>
<a href="<%= req.query.r %>" class="back"><i class="ss-icon">&#x21A9;</i></a>
<% } else { %>
<a href="/request/list" class="back"><i class="ss-icon">&#x21A9;</i></a>
<% } %>


<a href="/sample/new?request=<%- request.id %>" class="back"><i class="ss-icon">&#xE200;</i> New Sample</a>


<form method="put" action="/suppliertest/<%= request.id %>" id="requestForm" enctype="multipart/form-data" name="<%- HTMLHelper.formName() %>" data-submit="ajax">
   <fieldset>
      <legend>Update Request</legend>
      <table>
         <tbody>
            <tr>
               <td><label for="supplier_id">Supplier:</label></td>
               <td>
                  <select name="supplier_id" id="supplier_id">
                     <%- supplier_option_list %>
                  </select>
               </td>
            </tr>
            <tr>
               <td><label for="created">Received:</label></td>
               <td><input type="date" id="created" name="created" value="<%- Globalize.format( new Date(request.created), 'yyyy-MM-dd') %>" /></td>
            </tr>
            <tr>
               <td><label for="status">Status:</label></td>
               <td>
                  <div class="radio">
                     <input type="radio" name="status" id="status_0"<%- request.status == 'RECEIVED' ? ' checked="checked"' : '' %> value="RECEIVED"> <label for="status_0">Received</label>
                     <input type="radio" name="status" id="status_1"<%- request.status == 'COMPLETE' ? ' checked="checked"' : '' %> value="COMPLETE"> <label for="status_1">Completed</label>
                     <input type="radio" name="status" id="status_2"<%- request.status == 'CANCELLED' ? ' checked="checked"' : '' %> value="CANCELLED"> <label for="status_2">Cancelled</label>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
      <div class="buttons">
         <button type="reset" class="reset">Reset</button> <button type="submit" class="submit">Submit</button>  
      </div>
   </fieldset>
   
   <% if (samples) { %>   
   <fieldset>
    <legend>Attributed Samples</legend>
    <table class="dataTable">
      <thead>
        <tr><th>ID</th><th>Name</th><th>Type</th><th>Created</th><th>Tests</th><th></th></tr>
      </thead>
      <tbody>
      <% for(var i = 0; i < samples.length; i++){ %>
      <tr>
        <td><%= samples[i].id %></td>
        <td><%= samples[i].name %></td>
        <td><%- samples[i].type %></td>
        <td><%- Globalize.format(samples[i].created, 'yyyy-MM-dd hh:mmtt') %></td>
        <td>
         <% 
          if(samples[i].test_ids) { 
            %>
            <select class="select_view_tests" data-placeholder="Choose" data-search="false" data-width="180px">
            <option value=""></option>
            <% var ids = samples[i].test_ids.split(',') %>
            <% var names = samples[i].schema_names.split(',') %>
            <% ids.forEach(function(id, index){ %>
            <option value="<%= id %>"><%= names[index] %> #<%=id %></option>
            <% }) %>
            </select>            
          <% } else if(session.user.hasPermission('tests.create')) { %>
                <a href="/test/new/?sample=<%- samples[i].id %>&r=<%- encodeURIComponent('/request/edit/'+request.id) %>"><i class="ss-icon">&#xF4C0;</i> Test Now</a>
          <% } %></td>
        <td><% if(session.user.hasPermission('requests.create')) { %><a href="/sample/edit/<%= samples[i].id %>">Edit</a><% } %></td>  
      </tr>
      <% } %>
      </tbody>
    </table>
   </fieldset>
   <% } %>
   <input type="hidden" name="id" value="<%- request.id %>"/>
   <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>
                  
                  
                  
                  
                  
                  
                  
                  
                  