<% if (req.query.user) { %>
  <a href="/user/edit/<%= req.query.user %>" class="back"><i class="ss-icon">&#x21A9;</i></a>
<% } %>

<% if (req.query.facility) { %>
  <a href="/facility/edit/<%= req.query.facility %>" class="back"><i class="ss-icon">&#x21A9;</i></a>
<% } %>

<a href="/technician/new<%= req.query.facility ? '?facility='+req.query.facility : ''%>" class="new"><i class="ss-icon">&#xEE00;</i>New Technician</a>

<%- partial('../partials/search', { model : Technician } ) %>

<form method="get" action="" id="technicianList" name="<%- HTMLHelper.formName() %>">
   <fieldset>
      <legend>List Technicians</legend>
      <table class="dataTable">
         <thead>
            <tr>
               <th><%- HTMLHelper.tableHeaderSortable('technicians.id', 'ID', req.query.dir, req.query)%></th>
               <th><%- HTMLHelper.tableHeaderSortable('facilities.name', 'Facility', req.query.dir, req.query)%></th>
               <th><%- HTMLHelper.tableHeaderSortable('users.firstname', 'User', req.query.dir, req.query)%></th>
               <th><%- HTMLHelper.tableHeaderSortable('technicians.badge', 'Badge', req.query.dir, req.query)%></th>
               <th><%- HTMLHelper.tableHeaderSortable('technicians.active', 'Active', req.query.dir, req.query)%></th>
               <th><%- HTMLHelper.tableHeaderSortable('technicians.created', 'Created', req.query.dir, req.query)%></th>
               <th></th>
            </tr>
         </thead>
         <tbody>
         <% for(var i = 0; i < technicians.length; i++) { %>
            <tr>
               <td><%= technicians[i].id %></td>
               <td><%= technicians[i].facility_name %></td>
               <td><%= technicians[i].full_name %></td>
               <td><%= technicians[i].badge %></td>
               <td><%= technicians[i].active ? 'YES' : 'NO' %></td>
               <td><%= Globalize.format(technicians[i].created, 'yyyy-MM-dd') %></td>

               <% if(session.user.hasPermission('users.create')) { %>
               <td><a href="/technician/edit/<%= technicians[i].id %>">Edit</a></td>
               <% } else if(session.user.id == technicians[i].user_id) { %>
               <td><a href="/technician/edit/<%= technicians[i].id %>">Edit</a></td>
               <% }else{ %>
               <td></td>
               <% } %>

            </tr>         
         <% } %>      
         </tbody>
      </table>
      
      <%- partial('../partials/pagination', { list : 'technician' }) %>
   </fieldset>
</form>