<% if (req.query.facility) { %>
  <a href="/facility/edit/<%= req.query.facility %>" class="back"><i class="ss-icon">&#x21A9;</i></a>
<% } %>

<form method="post" action="/user" id="userForm" enctype="multipart/form-data" name="<%- HTMLHelper.formName() %>" data-submit="ajax">
   <% if(!session.user.hasPermission('facilities.create')) { %>
   <input type="hidden" name="facility_id" value="<%= session.user.facility_id %>"/>
   <% } %>   
   <fieldset>
      <legend>Create User</legend>
      <table>
         <tbody>
            <% if(session.user.hasPermission('facilities.create')) { %>
            <tr>
               <td><label for="facility_id">Facility:</label></td>
               <td>
                  <select name="facility_id" id="facility_id">
                  <%- facility_option_list %>
                  </select>
               </td>
            </tr>
            <% } %>
            <tr>
               <td><label for="firstname">First Name:</label></td>
               <td><input type="text" size="55" name="firstname" id="firstname" autocomplete="off" /></td>
            </tr>
            <tr>
               <td><label for="lastname">Last Name:</label></td>
               <td><input type="text" size="55" name="lastname" id="lastname" autocomplete="off" /></td>
            </tr>
            <tr>
               <td><label for="email">E-mail:</label></td>
               <td><input type="text" size="55" name="email" id="email" autocomplete="off" /></td>
            </tr>
            <tr>
               <td><label for="password">Password:</label></td>
               <td><input type="password" size="55" name="password" id="password" autocomplete="off" /></td>
            </tr>
            <tr>
               <td><label for="repassword">Re-type Password:</label></td>
               <td><input type="password" size="55" name="repassword" id="repassword" /></td>
            </tr>
            <tr>
               <td><label for="logo">Avatar:</label></td>
               <td>
                  <input type="file" name="_avatar" id="_avatar" size="55" />
                  <input type="hidden" name="avatar" id="avatar" />      
                  <img src="" style="display:none;max-width:200px"/>         
               </td>
            </tr>   
            <tr>
              <td><label for="locale">Locale:</label></td>
              <td>
                <select name="locale" id="locale">
                  <% sails.config.i18n.locales.forEach(function(locale){ %>
                    <option value="<%= locale %>"><%= locale %></option>
                  <% }) %>                  
                </select>
              </td>
            </tr>    
            <% if(session.user.hasPermission('users.create')) { %>
            <tr>
               <td><label for="permissions[]">Permissions:</label></td>
               <td>
                  <div class="checkbox">
                     <ul>
                        <li><input type="checkbox" name="permissions[]" id="permissions_0" value="users.create"/> <label for="permissions_0">Create Users</label></li>
                        <li><input type="checkbox" name="permissions[]" id="permissions_1" value="facilities.create"/> <label for="permissions_1">Create Facilities</label></li>
                        <li><input type="checkbox" name="permissions[]" id="permissions_2" value="schemas.create"/> <label for="permissions_2">Create Schemas</label></li>
                     </ul>
                  </div>
               </td>
            </tr>
            <% } %>
         </tbody>
      </table>
      <div class="buttons">
         <button type="reset" class="reset">Reset</button> 
         
         <% if(req.query.facility){ %>
         <button type="button" data-href="/facility/edit/<%= req.query.facility %>">Back to Facility</button>
         <% } %>
         
         <button type="submit" class="submit">Submit</button>  
      </div>
   </fieldset>  
   <input type="hidden" name="active" id="active" value="1" />
   <input type="hidden" name="id"/>
   <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>
