<a href="/strain/edit/<%= strainorigin.strain_id %>" class="back"><i class="ss-icon">&#x21A9;</i></a>

<form method="put" action="/strainorigin/<%=strainorigin.id %>" enctype="multipart/form-data" id="strainoriginForm" name="<%- HTMLHelper.formName() %>" data-submit="ajax">
   <fieldset>
      <legend>Update Strain Origin</legend>
      <table>
         <tbody>
            <tr>
               <td><label for="strain_id">Strain:</label></td>
               <td>
                  <select name="strain_id" id="strain_id">
                  <%- strain_option_list %>
                  </select>
               </td>
            </tr>
            <tr>
               <td><label for="strain_parent_id">Parent Strain:</label></td>
               <td>
                  <select name="strain_parent_id" id="strain_parent_id">
                     <option value="">➥ Select a parent strain</option>
                  <%- strain_parent_option_list %>
                  </select>
               </td>
            </tr>
            <tr>
               <td><label for="paternity">Paternity:</label></td>
               <td>
                  <div class="radio">
                     <input type="radio" name="paternity" id="paternity_m" value="MOTHER"<%- strainorigin.paternity == 'MOTHER' ? ' checked="checked"' : ''%>/> <label for="paternity_m">Mother</label> 
                     <input type="radio" name="paternity" id="paternity_f" value="FATHER"<%- strainorigin.paternity == 'FATHER' ? ' checked="checked"' : ''%>/> <label for="paternity_f">Father</label> 
                  </div>
               </td>
            </tr>
         </table>
      </table>
      <div class="buttons">
         <button type="reset" class="reset">Reset</button> <button type="submit" class="submit">Submit</button>  
      </div>
   </fieldset>  
   <input type="hidden" name="id" value="<%= strainorigin.id %>"/>
   <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>
